* > body{
    margin: 0;
    background: #222f3e;
}
* {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    letter-spacing: .15em;
}
.title {
    font-size: 2em;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}
.inputsWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.inputsWrap > p {
    margin: 10px 0;
}
.startWindow {
    position: relative;
}
.errorMessage {
    display: inline-block;
    background-color: #ff6b6b;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 2;
}
.errorMessage::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: #ff6b6b;
    position: absolute;
    bottom: -4px;
    left: 10px;
    z-index: 0;
}

@media (max-width: 350px) {
    * {
        font-size: 14px;
    }
}