* > body{
    margin: 0;
    background: #222f3e;
}
* {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    letter-spacing: .15em;
}
.title {
    font-size: 3em;
}
.subtitle {
    font-weight: bold;
    font-size: 1.4em;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}
.infoWrap {
    margin-bottom: 30px;
}
.text {
    margin: .5em 0;
}
.startWindow {
    position: relative;
}

@media (max-width: 350px) {
    * {
        font-size: 14px;
    }
}